@font-face {
  font-family: "Myraid-pro";
  src: url("../public/fonts/ofont.ru_Myriad\ Pro.ttf");
}
@font-face {
  font-family: "Nico-Moji";
  src: url("../public/fonts/NicoMoji-Regular.ttf");
}
@font-face {
  font-family: "Neonderthaw";
  src: url("../public/fonts/Neonderthaw-Regular.ttf");
}
@font-face {
  font-family: "Radiotehnika";
  src: url("../public/fonts/ofont.ru_Radiotechnika.ttf");
}
.wave-bouncing-loading-animation {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(60px, 6vw);
  color: black;
  -webkit-box-reflect: below -0.4em linear-gradient(transparent, #00000045);
  font-family: "Nico-Moji";
}
.wave-bouncing-loading-animation > span {
  display: inline-block;
  font-weight: bolder;
  animation: bouncing-wave-animation 2s infinite;
  animation-delay: calc(0.25s * var(--item));
}
@keyframes bouncing-wave-animation {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.4em);
  }
}
.App {
  padding: 50px 80px;
  margin: 0%;
  overflow: hidden;
}
p {
  margin: 0;
}
.header-container {
  display: flex;
  flex-direction: row;
  float: right;
  gap: 32px;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Myraid-pro";
  color: black;
  font-weight: 400;
}
.back-link {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  left: 40px;
}
.header_login {
  position: relative;
  width: fit-content;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  padding: 0px 20px;
  background-color: black;
  border-radius: 30px;
}
.header_login-text {
  color: white;
}
.block-file-container {
  position: relative;
  top: -15px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
  border-radius: 25px 25px 0px 0px;
}
.file-text-container {
  font-size: 66px;
  position: relative;
  font-weight: 400;
}
.dark {
  right: 40px;
  color: white;
}
.light {
  color: black;
}
.file-text-container p {
  font-family: "Nico-Moji";
  margin: 0;
}
.file-text-container span {
  font-family: "Neonderthaw";
}
.main-container {
  width: 1122px;
  height: 682px;
  background-color: black;
  color: white;
  border-radius: 0px 60px 60px 60px;
  position: relative;
  bottom: 20px;
}
.main-text-container {
  position: relative;
  top: 20%;
  left: 80px;
  width: 656px;
}
.main-text-header {
  font-family: "Radiotehnika";
  font-size: 78px;
}
.main-text-container .main-text-desc {
  font-size: 29px;
  font-family: "Myraid-pro";
  position: relative;
  top: 10px;
}
.image-container {
  position: relative;
  float: right;
  bottom: 45px;
}
.image-container img {
  border-radius: 0px 0px 60px 0px;
}
button {
  border: 0;
  border-radius: 16px;
  border-bottom: 5px solid #5e8849;
  color: rgb(32, 88, 49);
  font-family: "Myraid-pro";
  cursor: pointer;
  background: linear-gradient(
    144deg,
    rgba(164, 244, 83, 1) 21%,
    rgba(137, 236, 86, 1) 40%,
    rgba(113, 228, 123, 1) 79%
  );
  box-shadow: 0px 0 237px -20px rgba(164, 244, 83, 1), 0 0 30px rgb(42, 102, 47);
}
.upload-button {
  width: 331px;
  height: 95px;
  font-size: 33px;
  position: relative;
  left: 80px;
  top: 240px;
}
.regist-icon {
  position: absolute;
  z-index: 1;
}
.i_right {
  left: 0;
  top: 0;
}
.i_left {
  right: 0;
  top: 0;
}
.i_bottom {
  bottom: 0;
  left: 63%;
}
.i_middle {
  top: 43%;
}
.form-content {
  width: 555px;
  height: 595px;
  position: relative;
  border-radius: 80px;
  top: 40px;
  display: block;
  background-color: black;
  margin-left: 25%;
  margin-right: 50%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 20px;
  gap: 14.5px;
}
.form-item input {
  width: 432px;
  height: 30px;
  border: 0;
  position: relative;
  bottom: 0;
  border-radius: 30px;
  padding: 0 10px;
  color: black;
  font-family: "Myraid-pro";
  font-size: 26px;
}
.form-text {
  position: relative;
  left: 13px;
  margin: 0;
  color: white;
  font-family: "Myraid-pro";
  font-size: 26px;
}
.form-header p {
  font-family: "Radiotehnika";
  font-size: 46px;
  color: white;
  position: relative;
  display: flex;
  bottom: 52px;
  justify-content: center;
}
.form-header img {
  position: relative;
  bottom: 70px;
  left: 200px;
  border-radius: 50%;
  border-width: 4px;
  border-color: black;
  border-style: solid;
}
.small-button {
  width: 331px;
  height: 55px;
  margin-top: 36px;
  font-size: 29px;
  position: relative;
  left: 0px;
}
.invert {
  filter: invert(1);
  height: 30px;
  font-size: 26px;
}
.user-container {
  width: 1122px;
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
  border-radius: 0px 80px 80px 80px;
  position: relative;
  bottom: 20px;
}
.toggle-btn {
  position: relative;
  left: 370px;
}
.toggle-btn input {
  display: none;
}
.toggle-btn label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 30px;
  background: #cccccc;
  border-radius: 50px;
  transition: 300ms linear;
}
.toggle-btn label:before {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  content: "";
  box-shadow: 0px 0px 5px black;
  display: block;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  transition: left 300ms linear;
}
.user-icon {
  width: 264px;
  height: 264px;
  border: solid 5px white;
  border-radius: 50%;
  position: relative;
  left: 70px;
  top: 80px;
}
.toggle-btn input:checked + label {
  background: #39b73f;
}
.user-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 100px;
  top: 50px;
}
.toggle-btn input:checked + label:before {
  left: 33px;
}
.user-content-container {
  position: relative;
  display: flex;
  left: 430px;
  top: 10px;
}
.user-content-container p {
  position: relative;
  font-size: 26px;
}
.user-content {
  width: 780px;
  height: 250px;
  border-radius: 0 80px 80px 0;
  position: relative;
  background-color: black;
  left: 345px;
  top: 40px;
}
.user-button-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  position: relative;
  top: 35px;
  left: 350px;
}
.share-btn {
  position: relative;
  top: 40px;
  left: 790px;
}
.other-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  left: 100px;
  top: 50px;
}
.other-header .main-text-header {
  position: relative;
  right: 20px;
  width: fit-content;
}
.other-check-text-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  position: relative;
  bottom: 55px;
  align-items: center;
}
.user-file-icon {
  position: absolute;
  left: 678px;
  bottom: 50px;
  border-radius: 0 0 80px 0;
}
.check-icon {
  width: 140px;
  height: 170px;
  position: relative;
  bottom: 20px;
  right: 60px;
}
.other-content {
  left: 80px;
}
.card-user-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 95%;
  top: 70px;
  margin-bottom: 100px;
}
.card-user {
  background-color: #212121;
  color: white;
  width: 350px;
  height: 200px;
  border-radius: 0px 80px 80px 80px;
}
.card-image {
  position: absolute;
}
.card-content {
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: 40px;
}
.card-image img {
  position: relative;
  width: 155px;
  height: 160px;
  left: 115%;
  border-radius: 0px 80px 60px 35px;
}
.card-image {
  position: absolute;
  top: 40px;
}
.card-text {
  position: absolute;
  width: 100%;
  z-index: 1;
  font-family: "Radiotehnika";
  font-size: 25px;
  font-weight: 600;
}
.card-header {
  position: relative;
  top: 25px;
  left: 25px;
}
.card-description {
  position: relative;
  font-size: 46px;
  top: 60px;
  left: 60px;
}
.card-top {
  position: relative;
  width: 160px;
  height: 40px;
  background-color: #212121;
  bottom: 35px;
  border-radius: 25px 25px 0px 0px;
}
.all-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
